<h1>{{article.title}}</h1>
<p>By {{article.user.name}} on {{format_date article.date_created}}</p>
<br />
<p>{{article.content}}</p>

<div>
  <h2>Comments</h2>
  {{#each article.comments as |comment|}}
  {{> comment-details}}
  {{/each}}
</div>