:root {
  --primary: #134074;
  --secondary: #13315C;
  --tertiary: #8DA9C4;
  --quatrinary: #EEF4ED;
  --light: #e3e4e3;
  --dark: #0B2545;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  color: var(--light);
  text-decoration: none;
}

a:visited {
  color: var(--light);
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.body {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
  color: var(--light);
}

/* CARDS */
.card {
  margin: 20px;
  padding: 8px;
  flex: 0 1 300px;
  border: 4px solid var(--dark);
  border-radius: 10px;
  background-color: var(--tertiary);
  color: var(--dark);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 8px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: var(--light);
}

.card header {
  color: var(--primary);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

em {
  color: var(--light);
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.comment-cards {
  padding: 16px;
  border: 2px solid var(--dark);
  background: var(--tertiary);
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

textarea {
  height: 120px;
}

form button {
  margin-top: 8px;
  padding: 8px;
  background: var(--primary);
  color: var(--light);
}

h2 {
  color: var(--dark);
  text-align: center;
  margin-top: 20px;
}

#author {
  text-align: center;
}

#new-comment-form {
  flex: 0;
  background-color: var(--tertiary);
  border-radius: 8px;
  padding: 40px;
  text-align: left;
  color: var(--light);
}

#new-comment-form textarea {
  width: 100%;
}